<%- include('./template/header') -%>
    <div class="container">
        <% for(let x = 0; x < salas.length; x++){ %>
            <div class="salas[x].NomeDaSala">sala[x].NumeroDeCarros
        <% } %>
    </div>
<%- include('./template/footer') -%>
