<%- include('./template/header') -%>
    <div class="container">
        <div class="sala1">1</div>
        <div class="sala2">2</div>
        <div class="sala3">3</div>
        <div class="sala4">4</div>
    </div>
<%- include('./template/footer') -%>
